name: "Test"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v15
    - run: nix-build -I nixpkgs=https://github.com/NixOS/nixpkgs/archive/master.tar.gz
    - run: nix-shell -I nixpkgs=https://github.com/NixOS/nixpkgs/archive/master.tar.gz --run "pytest ./tests"
